<h1>Sobre mim</h1>

<img src="" alt="">

<div>
    <h2>Formações</h2>
    <p>Formado em transações imobiliárias, capacitado em Avaliações Imobiliárias, 
        também possuo formação em Gestão da Qualidade e curso técnico em edificações</p>
</div>

<div>
    <h2>Pessoalmente</h2>
    <p>Entende como poucos a importância da escolha de um imóvel - um momento que envolve sonhos, 
        expectativas e grandes responsabilidades. Oferecendo um atendimento personalizado, humano e confiável, 
        sempre focado em tornar a experiência de compra de imóveis mais segura e tranquila</p>
</div>

<button>Vamos conversar</button>
