<div class="about-section">
    <div class="about-theme">
        <h2>Sobre mim</h2>
    </div>

    <div class="about-img">
        <img src="/assets/images/e30aecf360ac388bd16ade99014f348f.png" alt="">
    </div>

    <div class="about-text-block">
        <h2>Formações</h2>
        <p>Formado em transações imobiliárias, capacitado em Avaliações Imobiliárias, 
            também possuo formação em Gestão da Qualidade e curso técnico em edificações.
        </p>
    </div>

    <div class="about-text-block">
        <h2>Pessoalmente</h2>
        <p>Entende como poucos a importância da escolha de um imóvel - um momento que envolve sonhos, 
            expectativas e grandes responsabilidades. Oferecendo um atendimento personalizado, humano e confiável, 
            sempre focado em tornar a experiência de compra de imóveis mais segura e tranquila.
        </p>
    </div>

    <button>
        <i class="fab fa-whatsapp"></i>
        Vamos conversar
    </button>
</div>