<div class="social-stats-section">
    <div class="carousel-container">
        <h2 class="section-title">Projetos que estou participando</h2>
        <div class="carousel">
            <button class="nav-button">&lt;</button>
            <div class="cards">
                <div class="card">
                    <div class="card-image"><img src="#" alt="#"></div>
                    <div class="card-description"></div>
                </div>
                <div class="card">
                    <div class="card-image"><img src="#" alt="#"></div>
                    <div class="card-description"></div>
                </div>
                <div class="card">
                    <div class="card-image"><img src="#" alt="#"></div>
                    <div class="card-description"></div>
                </div>
            </div>
            <button class="nav-button">&gt;</button>
        </div>
        <div class="pagination">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
</div>