<h1>Catálogo</h1>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>

<div>
    <img src="" alt="">
    <h2>Casa no bairro</h2>
    <h6>3x4 & 6x20m²</h6>
</div>
